.valorant-tracker-button-pracc-optimizer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #e2263c;
  border: none;
  overflow: hidden;
}
.valorant-tracker-button-pracc-optimizer > img {
  width: 2rem;
  height: 2rem;
}
.link-pracc-optimizer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
  border: solid 0.5rem dashed white;
}
.link-pracc-optimizer > a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.link-pracc-optimizer > a > img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
.link-pracc-optimizer > a > span {
  width: 1.5rem;
  height: 1.5rem;
}
.logos--x {
  display: inline-block;
  width: 251px;
  height: 256px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251 256'%3E%3Cpath d='M149.079 108.399L242.33 0h-22.098l-80.97 94.12L74.59 0H0l97.796 142.328L0 256h22.1l85.507-99.395L175.905 256h74.59L149.073 108.399zM118.81 143.58l-9.909-14.172l-78.84-112.773h33.943l63.625 91.011l9.909 14.173l82.705 118.3H186.3l-67.49-96.533z'/%3E%3C/svg%3E");
}
.logos--discord-icon {
  display: inline-block;
  width: 256px;
  height: 199px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 199'%3E%3Cpath fill='%235865f2' d='M216.856 16.597A208.5 208.5 0 0 0 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046q-29.538-4.442-58.533 0c-1.832-4.4-4.55-9.933-6.846-14.046a207.8 207.8 0 0 0-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193A161 161 0 0 0 79.735 175.3a136.4 136.4 0 0 1-21.846-10.632a109 109 0 0 0 5.356-4.237c42.122 19.702 87.89 19.702 129.51 0a132 132 0 0 0 5.355 4.237a136 136 0 0 1-21.886 10.653c4.006 8.02 8.638 15.67 13.873 22.848c21.142-6.58 42.646-16.637 64.815-33.213c5.316-56.288-9.08-105.09-38.056-148.36M85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2s23.236 11.804 23.015 26.2c.02 14.375-10.148 26.18-23.015 26.18m85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.804 23.015 26.2c0 14.375-10.148 26.18-23.015 26.18'/%3E%3C/svg%3E");
}
.pracc-optimizer-block-button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: red;
  color: white;
  margin: 0 0.5rem;
}
